@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  max-width: 1280px;
  margin: 1.25rem auto;
  padding: 0px 18px;
}

.data-table {
  width: 100%;
  font-size: 15px;
}

.data-table tr {
  border-width: 1px 0px;
}

.data-table th {
  width: 30%;
  text-align: right;
  padding: 8px 10px;
}

.bug {
  background-color: rgb(142, 165, 10); 
}

.dark {
  background-color: rgb(29, 29, 29); 
}

.dragon {
  background-color: rgb(54, 0, 202); 
}

.electric {
  background-color: rgb(255, 204, 51); 
}

.fairy {
  background-color: rgb(255, 152, 169); 
}

.fighting {
  background-color: rgb(167, 30, 30); 
}

.fire {
  background-color: #f42; 
}

.flying {
  background-color: rgb(142, 227, 255); 
}

.ghost {
  background-color: rgb(65, 63, 129); 
}

.grass {
  background-color: rgb(33, 194, 19); 
}

.ground {
  background-color: rgb(206, 175, 0); 
}

.ice {
  background-color: #6cf
}

.normal {
  background-color: #aa9; 
}

.poison {
  background-color: purple; 
}

.psychic {
  background-color: rgb(221, 54, 82); 
}

.rock {
  background-color: rgb(148, 148, 101); 
}

.steel {
  background-color: rgb(199, 199, 199); 
}

.water {
  background-color: rgb(17, 132, 247); 
}

.text-shadow {
  text-shadow: 0px 1px 4px black;
}

#male {
  color: blue;
}

#female {
  color: rgb(243, 95, 236);
}