@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: repeating-linear-gradient(-45deg, #ffffff 0, #ffffff 2px, #e7e7e7 2px, #e7e7e7 11px);
}

.data-table tr {
  border-width: 1px 0px;
}

.data-table th {
  width: 30%;
  text-align: right;
  padding: 8px 10px;
}

.text-shadow {
  text-shadow: 0px 1px 4px black;
}