@tailwind base;
@tailwind components;
@tailwind utilities;


.type-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 30px;
  margin: 0px 4px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid gray;
  border-radius: 5px;
  text-shadow: 2px 2px 1px black;
}

.bug {
  background-color: rgb(142, 165, 10); 
}

.dark {
  background-color: rgb(29, 29, 29); 
}

.dragon {
  background-color: rgb(54, 0, 202); 
}

.electric {
  background-color: rgb(255, 204, 51); 
}

.fairy {
  background-color: rgb(255, 152, 169); 
}

.fighting {
  background-color: rgb(167, 30, 30); 
}

.fire {
  background-color: rgb(233, 56, 12); 
}

.flying {
  background-color: rgb(142, 227, 255); 
}

.ghost {
  background-color: rgb(65, 63, 129); 
}

.grass {
  background-color: rgb(33, 194, 19); 
}

.ground {
  background-color: rgb(206, 175, 0); 
}

.ice {
  background-color: rgb(0, 221, 173)
}

.normal {
  background-color: rgb(161, 161, 161); 
}

.poison {
  background-color: purple; 
}

.psychic {
  background-color: rgb(221, 54, 82); 
}

.rock {
  background-color: rgb(148, 148, 101); 
}

.steel {
  background-color: rgb(199, 199, 199); 
}

.water {
  background-color: rgb(0, 139, 253); 
}

